/.git
/.ipynb_checkpoints
/.vscode
/Error_Type_List_Las_Update_151209.xlsx
/home.pdf
/input
/myfile.pdf
/performance.docx
/reporting.html
/results
/sizetest.pdf
/Tarfaya - error type list.xlsx
/TB Performance Juin 2020.xlsx
/test.pdf
/xl template